body{
    background-color: rgb(48, 48, 48);
    color: lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -344px;
    margin-top: -152px;
    
    height: 320px;
    width: 680px;
    border: 4px #e0933b dashed;
    padding: 0 30px;
}
#imgtext{
    display: flex;
    align-items: center;
}
img{
    width: 130px;
    height: auto;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
